<ng-container *ngIf="detail">
  <h2>{{detail.name}}</h2>
  <label class="label" [ngClass]="detail.systemStatus">{{detail.systemStatus}}</label>
  <form action="">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Name" name="name" [value]="detail.name" [(ngModel)]="detail.name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Status" name="status" [value]="detail.systemStatus">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Producer" name="producer" [value]="detail.producer" [(ngModel)]="detail.producer">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Model" name="model" [value]="detail.model">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Serial number" name="connectorId" [value]="detail.id">
    </mat-form-field>
  </form>
</ng-container>
