:host {
  .navigation {

    list-style: none;
    padding: 0;

    ul {
      list-style: none;
    }

    .section {
      cursor: pointer;
      position: relative;
      padding: 10px 0;

      ul {
        padding: 0 10px 0 20px;
        // display: none;
        li {
          padding: 4px 0 4px 24px;
          position: relative;
          &:before {
            content: '';
            height: 20px;
            width: 20px;
            background-image: url("../../assets/images/icon-cctv1.png");
            background-color: #5087c2;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 70%;
            display: block;
            position: absolute;
            left: 0;
            top: 4px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
          }
        }
      }

      &.open {
        ul {
          display: block;
          margin-top: 10px;
        }
      }

      &.active {
        & > .header {
          text-decoration: line-through;
          color: #000;
        }
      }

      &.ok {
        .header {
          &:before {
            background: url("../../assets/images/icon-ok-full.png") transparent center no-repeat;
          }
        }
        ul {
          li {
            &:before {
              background-color: #44d115;
            }
          }
        }
      }

      &.warning {
        .header {
          &:before {
            background: url("../../assets/images/icon-warn-full.png") transparent center no-repeat;
          }
        }
        ul {
          li {
            &:before {
              background-color: #ffae00;
            }
          }
        }
      }

      &.error {
        .header {
          &:before {
            background: url("../../assets/images/icon-error-full.png") transparent center no-repeat;
          }
        }
        ul {
          li {
            &:before {
              background-color: #f20000;
            }
          }
        }
      }

      &.disconnected {
        .header {
          &:before {
            background: url("../../assets/images/icon-disconnected-full.png") transparent center no-repeat;
          }
        }
        ul {
          li {
            &:before {
              background-color: #b81d8f;
            }
          }
        }
      }

      .header {
        position: relative;
        padding-left: 24px;
        display: inline-block;

        &:before {
          position: absolute;
          content: '';
          width: 20px;
          height: 20px;
          background: gray;
          display: block;
          left: 0;
          top:-1px;
        }
      }

      .opener {
        position: absolute;
        right: 0;
        font-size: 30px;
        margin: auto;
        top: 4px;
      }
    }

    .section + .section {
      border-top: solid 1px #dcdcdc;
    }

    .item {
      cursor: pointer;

      &.active {
        text-decoration: line-through;
        color: #000;
      }

      &.hidden {
        display: none;
      }
    }
  }
}
