<app-search></app-search>
<ul *ngIf="navigationTree" class="navigation">
    <li (click)="collapseNavigation()" class="item">Collapse All</li>
    <li *ngFor="let section of navigationTree"
        class="section"
        [class.active]="section.active">
        <span class="header" (click)="filterNavigation(section)">{{section.title}} {{section.items.length}}</span>
        <ul *ngIf="section.items">
            <li *ngFor="let item of section.items"
                class="item"
                (click)="filterNavigation(item)"
                [class.active]="item.active"
                [class.hidden]="item.hidden">
                <span>{{item.name}}</span>
            </li>
        </ul>
    </li>
</ul>
