<app-search></app-search>
<ul *ngIf="navigationTree" class="navigation">
  <li *ngIf="collapseInit" class="section blue" (click)="collapseFilter()">Collapse all</li>
  <li class="section empty"><span class="header" (click)="resetFilter()">All</span></li>
  <li *ngFor="let section of navigationTree"
      class="section"
      [ngClass]="section.slug"
      [class.active]="section.active"
      [class.open]="section.open">
    <span class="header" (click)="filterNavigation(section)">{{section.title}} ({{section.items.length}})</span>
    <span *ngIf="section.items.length > 0"
          class="material-icons opener"
          appToggleSection
          (updateCollapseInit)="collapseSetInit($event)"
          [section]="section">{{section.open ? 'arrow_drop_down' : 'arrow_right'}}</span>
    <ul *ngIf="section.items">
      <li *ngFor="let item of section.items"
          class="item"
          (click)="filterNavigation(item)"
          [class.active]="item.active"
          [class.hidden]="item.hidden">
        <span>{{item.name}}</span>
      </li>
    </ul>
  </li>
</ul>
