:host {
  .navigation {

    list-style: none;
    padding: 0;

    .section {
      cursor: pointer;
      padding: 10px 0;
    }

    .section + .section {
      border-top: solid 1px #dcdcdc;
    }

    .item {
      cursor: pointer;

      &.active {
        text-decoration: line-through;
        color: #45bb42;
      }

      &.hidden {
        display: none;
      }
    }

    ul {
      list-style: none;
    }
  }
}
