:host {
  display: flex;
  height: 100%;
  overflow: hidden;
  border-top: solid 1px #dcdcdc;
  border-bottom: solid;

  .navigation {
    padding: 16px;
    width: 200px;
    max-width: 300px;
    border-right: solid 1px #dcdcdc;
    overflow-y: auto;
  }

  .map {
    flex-grow:2
  }

  .detail {
    padding: 16px;
    width: 260px;
    max-width: 300px;
    border-left: solid 1px #dcdcdc;
  }
}
