:host {
  display: flex;
  height: 100%;

  .navigation {
    padding: 16px;
    width: 200px;
    max-width: 300px;
    border-right: solid;
  }

  .map {
    flex-grow:2
  }

  .detail {
    padding: 16px;
    width: 200px;
    max-width: 300px;
    border-left: solid;
  }
}
